### Initial data loading and cleaning

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re

sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (10, 6)

DATA_PATH = os.path.join('..', 'data', 'train_data.csv')
df = pd.read_csv(DATA_PATH)

print("DataFrame Info:")
df.info()

print("\nMissing Values:")
print(df.isnull().sum())

print(f"\nNumber of duplicate rows before cleaning: {df.duplicated().sum()}")
df.drop_duplicates(inplace=True)
print(f"Number of duplicate rows after cleaning: {df.duplicated().sum()}")

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1172 entries, 0 to 1171
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1172 non-null   object
 1   TypeName          1172 non-null   object
 2   Inches            1172 non-null   float64
 3   ScreenResolution  1172 non-null   object
 4   Cpu               1172 non-null   object
 5   Ram               1172 non-null   object
 6   Memory            1172 non-null   object
 7   Gpu               1172 non-null   object
 8   OpSys             1172 non-null   object
 9   Weight            1172 non-null   object
 10  Price             1172 non-null   float64
dtypes: float64(2), object(9)
memory usage: 100.8+ KB

Missing Values:
Company             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price               0
dtype: int64

Number of duplicate rows before cleaning: 25
Number of duplicate rows after cleaning: 0

### Print dataset head

In [85]:
print("\nDataFrame Head:")
display(df.head())

DataFrame Head:

,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,Acer,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD,Nvidia GeForce GTX 1050 Ti,Linux,2.5kg,52161.120
1,Asus,Notebook,14.0,1366x768,Intel Celeron Dual Core N3350 1.1GHz,4GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.5kg,14811.840
2,Dell,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Linux,2.2kg,14646.672
3,Lenovo,2 in 1 Convertible,14.0,Touchscreen 2560x1440,Intel Core i7 7500U 2.7GHz,16GB,1TB SSD,Intel HD Graphics 620,Windows 10,1.42kg,150462.720
4,Acer,Notebook,15.6,1366x768,Intel Core i3 6006U 2GHz,4GB,500GB HDD,Intel HD Graphics 520,Windows 10,2.4kg,23976.000

### Summary statistics of all the columns in the dataset

In [86]:
print("\nSummary Statistics:")
display(df.columns)
display(df.describe(include='all'))

Summary Statistics:

Index(['Company', 'TypeName', 'Inches', 'ScreenResolution', 'Cpu', 'Ram',
       'Memory', 'Gpu', 'OpSys', 'Weight', 'Price'],
      dtype='object')

,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
count,1147,1147,1147.000000,1147,1147,1147,1147,1147,1147,1147,1147.000000
unique,19,6,NaN,39,111,9,38,104,9,172,NaN
top,Lenovo,Notebook,NaN,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg,NaN
freq,261,642,NaN,458,167,550,369,248,940,108,NaN
mean,NaN,NaN,15.049869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60710.369806
std,NaN,NaN,1.414944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37549.849518
min,NaN,NaN,10.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9270.720000
25%,NaN,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32767.200000
50%,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52746.667200
75%,NaN,NaN,15.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79813.440000
max,NaN,NaN,17.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324954.720000